{% extends 'personne/connected.html.twig' %}

{% block title %}
    Profile Editing
{% endblock %}


{% block icon %}
    <link rel="icon" type="image/png" href="{{asset('form_staff/images/icons/settings.png')}}"/>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{asset('form_staff/fonts/iconic/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('form_staff/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('form_staff/vendor/animsition/css/animsition.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('form_staff/vendor/css-hamburgers/hamburgers.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/form_css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/form_css/main.css')}}">
    <link rel="stylesheet" href="{{ asset('css/Home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Game.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Connected.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Edit.css') }}">

{% endblock %}
{% block content %}
    <section class="container-fluid">
        <div class="card">
            <img src="{{ asset('images/user_default.png') }}" class="card-img "  alt="user_image" >
        </div>
        <div class="card">
            {{ form_start(form) }}
            <div class="row">
                <div class="wrap-input100 col-6">
                    {{ form_widget(form.name, {'attr':{
                        'class':'input100',
                        'type':'text',
                    } }) }}
                    <span class="focus-input100" data-placeholder="Name"></span>
                </div>
                <div class="wrap-input100 col-6">
                    {{ form_widget(form.firstname, {'attr':{
                        'class':'input100',
                        'type':'text',
                    } }) }}
                    <span class="focus-input100" data-placeholder="Firstname"></span>
                </div>
            </div>

            <div class="wrap-input100">
                {{ form_widget(form.age, {'attr':{
                    'class':'input100',
                    'type':'text',
                } }) }}
                <span class="focus-input100" data-placeholder="Age"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                {{ form_widget(form.email, {'attr':{
                    'class':'input100',
                    'type':'text',
                } }) }}
                <span class="focus-input100" data-placeholder="Email"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                {{ form_widget(form.password, {'attr':{
                    'class':'input100',
                } }) }}
                <span class="focus-input100" data-placeholder="Password"></span>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    {{ form_widget(form.sign_in, {'attr':{
                        'class':'login100-form-btn',
                    } }) }}
                </div>
            </div>

        </div>



    </section>

{% endblock%}